@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<InAndOut.Models.Person>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Person" asp-action="Create" class="btn btn-primary">Create new person</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Nimi
                    </th>
                    <th>
                        aeg
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                <tr>
                    <td width="35%">@expense.Eesnimi</td>
                    <td width="35%">@expense.UrituseId</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Person" asp-action="Detail" asp-route-Id="@expense.Id" class="btn btn-success mx-1">Detail</a>
                            <a asp-controller="Person" asp-action="Update" asp-route-Id="@expense.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Person" asp-action="Delete" asp-route-Id="@expense.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No expenses created yet</p>
    }

</div>


